$pad: 20px;

.container {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.input-group {
  width: 33.33%;
  float: left;
  margin-bottom: 1em;
  padding-right: $pad;
  .container &:last-of-type {
    padding-right: $pad;
  }
}

@media screen and (max-width: 500px) {
  .input-group {
    float: none;
    width: 100%;
  }
}
