/* VARS 
-------------------------------------- */
$cinza: #525252;
$main-color: #fff;

$teal: #46CA93;
$green: #3ACA47;
$bg-color: $teal;

$overlay: rgba(255, 255, 255, 0.2);

$pad: 20px;

/* MIXINS 
-------------------------------------- */
@mixin respond-to($type, $query) {
  @media ($type: $query) {
    @content;
  }
}

/* BASE LAYOUT 
-------------------------------------- */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  padding: $pad 0 $pad $pad;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.input-group {
  width: 33.33%;
  float: left;
  margin-bottom: 1em;
  padding-right: $pad;
  .container &:last-of-type {
    padding-right: $pad;
  }
}

@media screen and (max-width: 500px) {
  .input-group {
    float: none !important;
    width: 100% !important;
  }
}

html {
  background: $bg-color;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  font-weight: lighter;
  color: $main-color;
}

.top {
  button {
    padding: 1em 3em;
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid #fff;
    text-transform: uppercase;
    margin: 0 auto;    
  }
}

.intro,
.breakdown,
.calculator,
.group {
  max-width: 600px;
  margin: 0 auto;
}
.breakdown {
  line-height: 1.8em;
}

/* NAV 
-------------------------------------- */
#nav {
  background: darken($teal, 6%);
  ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      &:first-child {
        margin-right: -.212em;
      }
      &.active a {
        background: $teal;
      }
      a {
        padding: 1em 1.5em;
        display: block;
        background: #f00;
        color: #fff;
        text-decoration: none;
        background: darken($teal, 6%);
        @include respond-to(max-width, 400px) {
          font-size: .9em;
          padding: 1em 1em;
        }
        @include respond-to(max-width, 390px) {
          font-size: .85em;
          padding: 1em 1em;
        }        
      }
    }
  }
}


/* INTRO 
-------------------------------------- */
.intro {
  padding: 3em 0 1em;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);  
  margin-bottom: 1.5em;
  @include respond-to(max-width, 640px) {
    margin: 0 20px !important;
    padding-top: 1em;
  }
  h1 {
    font-weight: lighter;
    margin: 0;
    line-height: 1.3em;
  }
  p {
    opacity: 0.9;
  }
}


/* CALCULATOR
-------------------------------------- */
.calculator {
  max-width: 1200px;
  padding-bottom: 0;
  // margin-bottom: 4em;
  background: none;
  @include respond-to(max-width, 640px) {
    padding-bottom: 0;
  }  
  &:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 5em;
    margin: 0 auto;
  }
  label {
    text-transform: uppercase;
    margin-bottom: 0.5em;
    display: block;
  }
  input {
    background: rgba(255, 255, 255, 0.25);
    max-width: 100%;
    border: none;    
    padding: 0 .5em;
    font-weight: bold;
    font-size: 1.5em;    
    letter-spacing: .02em;
    height: 2.4em;
    margin-top: .5em;
    width: 100%;
    &:hover {
      cursor: arrow;
    }
  }
  .button {
    text-transform: uppercase;
    text-decoration: none;
    background: #fff;
    color: #4a4a4a;
    font-size: .9em;
    float: right;
    padding: 1.1em 1em;
    position: absolute;
    bottom: 0;
    right: 0;
    @include respond-to(max-width, 835px) {
      font-size: .8em;
      padding: 1.25em 0.7em;
    }
  }
  @include respond-to(max-width, 735px) {
    .calculator-amount {
      float: none;
      width: auto;
    }
    .calculator-intrest,
    .calculator-term {
      float: left;
      width: 50%;
    }
  }  
}

.calculator-field {
  position: relative;
}

::-webkit-input-placeholder {
   color: $main-color;
}

:-moz-placeholder { /* Firefox 18- */
   color: $main-color;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $main-color;  
}

:-ms-input-placeholder {  
   color: $main-color;  
}


/* NEWS
-------------------------------------- */
#news {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      width: 31.33%;
      margin: 1%;
      float: left;
      background: #fff;
      color: #333;
      border-radius: 5px;
      height: 10em;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.23);
      .tweet {
        position: relative;
        float: left;
        width: 75%;
        margin: 0;
        padding-left: 5%;        
        top: 50%;
        transform: translateY(-50%);
        a {
          display: block;
          color: #74AEE0;
        }
      }
      .timePosted {
        display: block;
        float: right;
        background: #E4E4E4;
        height: 100%;
        margin: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #444;
        width: 25%;
        position: relative;
        a {
          display: block;
          color: #949494;
          text-decoration: none;
          font-weight: bold;
          text-align: center;
          margin: 0 1em;
          position: relative;
          transform: translateY(-50%);
          top: 50%;
          text-transform: uppercase;
          font-weight: bold;
          font-size: .85em;
          letter-spacing: 1px;
          line-height: 1.4em;          
        }
      }
      @include respond-to(max-width, 950px) {
        width: 48%;
      }
      @include respond-to(max-width, 480px) {
        width: 98%;
      }      
    }
  }
}


/* BREAKDOWN 
-------------------------------------- */
.breakdown {
  text-align: center;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 2em;
  @include respond-to(max-width, 640px) {
    font-size: 1.2em;
  }
  .breakdown-text {
    line-height: 2.2em;
  }
  .breakdown-price {
    display: block;
    font-weight: bold;
    font-size: 2.5em;

  }
  hr {
    width: 10em;
    border-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    margin-top: 1em;    
  }
  .totalpaid-text {
    font-size: .7em;
    margin-top: .3em;
    color: rgba(255,255,255,0.7);
    strong {
      font-size: 1.5em;
      color: rgba(255,255,255,1);    
    }
  }  
}


/* FOOTER 
-------------------------------------- */
footer {
  background: darken($teal, 6%);
  padding: 1em 0;
  text-align: center;
  font-size: .9em;
  .container {
    padding: $pad;
  }
  aside {
    p { 
      font-style: italic;
      opacity: 0.7;
    }
  }
  .follow {
    font-size: .9em;
    span {
      opacity: 0.7;
    }
    a {
      color: #fff;
    }
  }
  .issues {
    display: block;
    text-transform: uppercase;
    border-top: 2px solid rgba(255, 255, 255, 0.15);
    opacity: 0.7;
    padding-top: 1em;
    text-decoration: underline;   
    font-size: .8em;
    color: #fff;
  }
}

/* NOUI PLUGIN 
-------------------------------------- */
.noUi-target {
  border: none;
  box-shadow: inset 0 1px 1px #F0F0F0,0 6px 8px -5px rgba(0, 0, 0, 0.37);
}
.range-slider {
  height: 11px;
}
.noUi-horizontal .noUi-handle {
  top: -8px;
  border: none;
  background-color: #9CE4C6;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 6px 8px -5px rgba(0, 0, 0, 0.37);
  &:before,
  &:after {
    background: none;
  } 
}