<div class="calc">
  <form action="">
    <div class="top">
      <div class="intro">
        <h1>Mortgage calculator</h1>
        <p>Here is a simple online mortgage calculator to help you see what your monthly mortgage payment could be. Adjust the sliders below to see how much you will pay on your mortgage.</p>            
      </div>
      
      <div class="container calculator">
        <div class="input-group calculator-amount">
          <div class="calculator-field">
            <label for="">Mortgage amount</label>
            <div class="range-slider slider-amount"></div>  
            <input type="text" class="input-amount"> 
          </div>
        </div>
        <div class="input-group calculator-intrest">
          <div class="calculator-field">
            <label for="">Interest rate</label>
            <div class="range-slider slider-intrest"></div>  
            <input type="text" class="input-intrest">
            <a href="http://www.marketwatch.com/tools/pftools/" target="_blank" class="button">Today's rates</a>

          </div>
        </div>
        <div class="input-group calculator-term">
          <div class="calculator-field">
            <label for="">Mortgage term (years)</label>
            <div class="range-slider slider-term"></div>  
            <input type="text" class="input-term">
          </div>
        </div> 
      </div>       
    </div>   

    <div class="breakdown">
      <div class="h2 breakdown-text">
        Your monthly payment:
        <span class="breakdown-price">{{breakdown}}</span>          
      </div>
      <hr>
      <p class="totalpaid-text">OR <strong>{{totalPaid}}</strong> at {{termText}} years</p>
    </div>
  </form>
</div>